<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<div class="thread">
			<h4>Judul Thread</h4>
			<div class="meta">
				21 Oktober oleh Andry Setiawan
			</div>
			<div class="content">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec interdum laoreet lacus non tempus. Nullam convallis turpis in viverra ultrices. Cras quis lacinia sapien, et dapibus risus. Cras at lacinia sapien. Vivamus lacinia tincidunt est at dignissim. Aliquam sagittis pretium dui, mollis venenatis nisl pretium mollis. Pellentesque in nulla at ex interdum sollicitudin. Nullam ut enim vitae eros scelerisque efficitur. Cras quis suscipit nunc, vitae molestie magna. Quisque tincidunt augue ac lectus eleifend, nec elementum enim hendrerit. Nunc rutrum lectus sed tristique accumsan. Pellentesque in elit velit. Nullam a eros justo. Mauris iaculis lectus sit amet tortor laoreet, eu ornare sem efficitur. Maecenas gravida egestas risus, sed vehicula augue convallis sed.
			</div>
			<div class="count">
				10 obrolan
			</div>
			<div class="clear">	</div>
		</div>		
		<div class="thread">
			<h4>Judul Thread</h4>
			<div class="meta">
				21 Oktober oleh Andry Setiawan
			</div>
			<div class="content">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec interdum laoreet lacus non tempus. Nullam convallis turpis in viverra ultrices. Cras quis lacinia sapien, et dapibus risus. Cras at lacinia sapien. Vivamus lacinia tincidunt est at dignissim. Aliquam sagittis pretium dui, mollis venenatis nisl pretium mollis. Pellentesque in nulla at ex interdum sollicitudin. Nullam ut enim vitae eros scelerisque efficitur. Cras quis suscipit nunc, vitae molestie magna. Quisque tincidunt augue ac lectus eleifend, nec elementum enim hendrerit. Nunc rutrum lectus sed tristique accumsan. Pellentesque in elit velit. Nullam a eros justo. Mauris iaculis lectus sit amet tortor laoreet, eu ornare sem efficitur. Maecenas gravida egestas risus, sed vehicula augue convallis sed.
			</div>
			<div class="count">
				10 obrolan
			</div>
			<div class="clear">	</div>
		</div>		
	</div>
</div>